<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel="stylesheet" type="text/css" href="https://jabont.com/jayss/jayss2.css">
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
</head>
<body class="">
	<div id="app">
		<section id="main_section" class="padding-xl-vtc">
			<div class="cont-pd">
				<theboxes class="top center spacing -clip t-center">
					<box col="6"><inner class="bg-white padding-l padding-vl-hzt round shadow">
						<h1 class="b7 h7">สูตรคูณจ้า</h1>
						<sp class=""></sp>
						<theboxes class="top spacing-l -clip">
							<box col="6"><inner class="">
								<h4 class="cl-bluegrey-6">ตัวคูณ</h4>
								<sp class="s"></sp>
								<input type="number" v-model="number" class="wide t-center size-l">
								<sp class="l"></sp>
								<h4 class="cl-bluegrey-6">จำนวนแถว</h4>
								<sp class="s"></sp>
								<input type="number" v-model="row" class="wide t-center size-l">
								<sp class="l"></sp>
								<h4>แม่ก่อนหน้านี้ คือ แม่ {{before_number}}</h4><br/><br/><br/>
								<h2 class="cl-red-6">รวม = {{sum(row)}}</h2>
								</inner></box>
								<box col="6"><inner class="">
		<!-- <div class="space"></div> -->
								<h2 class="t-left cl-bluegrey-6">สูตรคูณแม่ {{number}}</h2>
								<sp class=""></sp>
								<h3 class="h9 t-left cl-brown-6" 
								v-for="i in r"
								>{{number}} x {{i}} = {{x(i)}}</h3>
								
							</inner></box>
						</theboxes>
					</inner></box>
				</theboxes>
			</div>
		</section>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				number: 2,
				before_number:1,
				row:12
			},
			methods: {
				x: function(row){
					return this.number*row
				},
				sum: function(row){
					let sum = 0
					for(let i=1; i<=row; i++){
						sum += this.number*i
					}
					return sum
				}
			},
			computed: {
				r: function(){
					return parseInt(this.row)
				},
				x2: function(){
					return this.number*2
				},
				x3: function(){
					return this.number*3
				},
				x4: function(){
					return this.number*4
				},
				x5: function(){
					return this.number*5
				},
				x6: function(){
					return this.number*6
				},
				x7: function(){
					return this.number*7
				},
				x8: function(){
					return this.number*8
				},
				x9: function(){
					return this.number*9
				},
				x10: function(){
					return this.number*10
				},
				x11: function(){
					return this.number*11
				},
				x12: function(){
					return this.number*12
				}
			},
			watch: {
				number: function(a,b){
					this.before_number = b
				}
			}
		})
	</script>
</body>
</html>